# Architecture & Build
*.iml
.gradle/
/build/
/captures/
.externalNativeBuild/
.cxx/

# User-specific / Local Settings (THE VAULT)
local.properties
.DS_Store
# This ignores the ENTIRE idea folder, which is safer than picking files
.idea/ 

# Keystore files (NEVER PUSH THESE)
*.jks
*.keystore
*.p12
*.google

# Firebase & Secrets (The Safety Net)
**/google-services.json
**/secrets.xml
**/secrets.properties

# Backup files
*.bak
*.swp